body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.img1, .img2, .img3{
  position:relative;
  /*opacity:0.70;*/
  opacity:1;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
/*fixed = parallax or scroll = normal*/
  background-attachment:fixed;
}

.button {
	height:40px;
	background-color:#9ca69e;
	border:0;
	text-transform: uppercase;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
	letter-spacing:3px;
	vertical-align: middle;
	margin-top: 100px;
}

.button:hover{
	background-color:#ffffff;
	color:#000;
	letter-spacing:2px;
	
}

.img1{
  background-image:url('../images/1.jpg');
  min-height:100%;
}

.img2{
  background-image:url('../images/2.jpg');
  min-height:400px;
}

.img3{
  background-image:url('../images/3.jpg');
  min-height:400px;
}


.section{
  text-align:center;
  padding:30px 60px;
}

.section-light{
 /* background-color:#f4f4f4;
  color:#666;*/
  background-color:#282e34;
  color:#ddd;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:22px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  /*background-color:#9ca69e;*/
  background-color:#282e34;
  color:#fff;
  padding:15px;
}


.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:768px){
  .img1, .img2, .img3{
    background-attachment:scroll;
  }
}

@media(max-width:768px){
  .button{
    margin-top: 150px;
  }
}

@media(max-width:768px){
  .border{
    margin-top: 150px;
  }
}
